
// Breakpoints

$breakpoints: (
  mobile-xs: 0,
  mobile-l: 420px,
  mobile-sm: 576px,
  mobile: 768px,
  tablet: 992px,
  notebook: 1200px,
  large: 1400px,
) !default;


// Desktop-first

@mixin media-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Desktop-first

@mixin bp-desk($name) {
  $width: map-get($breakpoints, $name);
  @include media-down($width) {
    @content;
  }
}