@font-face {
  font-family: "Rugen";
  src: url("../fonts/rugen/Rugen-Expanded.eot");
  src: local("Rugen Expanded"),url("../fonts/rugen/Rugen-Expanded.eot?#iefix") format("embedded-opentype"),url("../fonts/rugen/Rugen-Expanded.woff2") format("woff2"),url("../fonts/rugen/Rugen-Expanded.woff") format("woff"),url("../fonts/rugen/Rugen-Expanded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular-400.eot");
  src: local("Montserrat"),url("../fonts/montserrat/Montserrat-Regular-400.eot?#iefix") format("embedded-opentype"),url("../fonts/montserrat/Montserrat-Regular-400.woff2") format("woff2"),url("../fonts/montserrat/Montserrat-Regular-400.woff") format("woff"),url("../fonts/montserrat/Montserrat-Regular-400.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold-600.eot");
  src: local("Montserrat"),url("../fonts/montserrat/Montserrat-SemiBold-600.eot?#iefix") format("embedded-opentype"),url("../fonts/montserrat/Montserrat-SemiBold-600.woff2") format("woff2"),url("../fonts/montserrat/Montserrat-SemiBold-600.woff") format("woff"),url("../fonts/montserrat/Montserrat-SemiBold-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font: 1.5rem "Rugen","Montserrat",sans-serif;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  -webkit-transition: color .5s ease-in,background-color .5s ease-in;
  -o-transition: color .5s ease-in,background-color .5s ease-in;
  transition: color .5s ease-in,background-color .5s ease-in;
}

.body--light {
  background: #fff;
  color: #2b2b2b;
}

.body--dark {
  background: #2b2b2b;
  color: #fff;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1170px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

::-moz-selection {
  background: #6669ad;
  color: #fff;
}

::selection {
  background: #6669ad;
  color: #fff;
}

.vhidden {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  height: 0;
  width: 0;
}

.header {
  background: url("../img/header/bg.png") repeat center/40%;
  position: relative;
  -webkit-transition: background-color .5s ease-in;
  -o-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
}

.header__nav {
  background: #2b2b2b;
  padding: 16.25px;
  border: 2px solid #fff;
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 20px;
  -webkit-transition: .3s ease-in background-color,.3s ease-in border;
  -o-transition: .3s ease-in background-color,.3s ease-in border;
  transition: .3s ease-in background-color,.3s ease-in border;
}

.header__nav:hover {
  background: #fff;
  border: 2px solid #2b2b2b;
}

.header__nav:hover .nav-menu__link {
  color: #2b2b2b;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__settings {
  font-family: "Montserrat",sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 20px;
  top: 20px;
}

.header--light {
  background: #2b2b2b;
  -webkit-box-shadow: 0 0 20px #2b2b2b;
  box-shadow: 0 0 20px #2b2b2b;
}

.header--dark {
  background: #6669ad;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0 0 20px #fff;
}

.header__inner {
  position: relative;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__title {
  color: #b8b8d3;
  text-shadow: 0 0 10px #2b2b2b;
}

.header__menu-burger {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.works__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.works__item {
  overflow: hidden;
  width: 30.333%;
  margin: 1%;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow .4s ease-in;
  transition: -webkit-box-shadow .4s ease-in;
  -o-transition: box-shadow .4s ease-in;
  transition: box-shadow .4s ease-in;
  transition: box-shadow .4s ease-in, -webkit-box-shadow .4s ease-in;
}

.works__item--light {
  -webkit-box-shadow: 0 0 2px #2b2b2b;
  box-shadow: 0 0 2px #2b2b2b;
}

.works__item--light:hover {
  -webkit-box-shadow: 0 0 10px #2b2b2b;
  box-shadow: 0 0 10px #2b2b2b;
}

.works__item--dark {
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff;
}

.works__item--dark:hover {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}

.work__footer {
  padding: 2rem;
  padding-left: 1rem;
}

.work__title {
  text-transform: uppercase;
}

.work__image {
  position: relative;
  background: url("../img/preloader/preload.gif") center no-repeat;
  background-size: 40px;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
}

.work__picture {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 5;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.work--blocked {
  position: relative;
}

.work--blocked::before {
  background: url("../img/for-projects/lock.png") no-repeat center/50px 50px rgba(0,0,0,.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 8;
}

.work--blocked::after {
  background: url("../img/bg/light-bg.jpg") no-repeat center/cover;
  content: "";
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background .3s ease-in;
  -o-transition: background .3s ease-in;
  transition: background .3s ease-in;
}

.work--announced,
.work--blocked {
  cursor: auto;
}

.work--announced {
  overflow: hidden;
  position: relative;
}

.work--announced::after {
  background: url("../img/announced/announced-dark.png") no-repeat;
  position: absolute;
  height: 250px;
  width: 250px;
  right: -67px;
  top: -53px;
  z-index: 10;
  content: "";
  -webkit-filter: drop-shadow(0 0 5px #1643ab);
  filter: drop-shadow(0 0 5px #1643ab);
  -webkit-transition: background-image .5s ease-in;
  -o-transition: background-image .5s ease-in;
  transition: background-image .5s ease-in;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.theme {
  z-index: 1001;
}

.theme__icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
  stroke: #2b2b2b;
  opacity: 1;
  -webkit-transition: .3s ease-in opacity;
  -o-transition: .3s ease-in opacity;
  transition: .3s ease-in opacity;
}

.theme__icon:hover {
  opacity: .7;
}

.theme__dark {
  fill: #fff;
}

.theme__light {
  fill: #fff;
}

.theme__link {
  position: relative;
}

.theme__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  background: rgba(50,21,185,.66);
  padding: 4rem;
  position: fixed;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__inner {
  background: #2b2b2b;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  position: relative;
  padding: 5rem;
  padding-top: 7rem;
  border-radius: 15px;
  margin: auto;
  width: 100%;
  max-width: 700px;
  -webkit-transition: background .5s ease-in,-webkit-transform .5s linear;
  transition: background .5s ease-in,-webkit-transform .5s linear;
  -o-transition: transform .5s linear,background .5s ease-in;
  transition: transform .5s linear,background .5s ease-in;
  transition: transform .5s linear,background .5s ease-in,-webkit-transform .5s linear;
}

.modal__inner--light {
  background: #fff;
}

.modal__inner--converter {
  background: #5f818f;
}

.modal__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #ff8c00;
  -webkit-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  transition: color .3s ease-in;
}

.modal__title--light {
  color: #4682b4;
}

.modal__preview {
  margin-bottom: 3.5rem;
}

.modal__close {
  width: 27px;
  height: 27px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal__close:hover .modal__close-line {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.modal__close-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #ff8c00;
  -webkit-transition: background .3s ease-in,color .3s ease-in,-webkit-transform .3s ease-in;
  transition: background .3s ease-in,color .3s ease-in,-webkit-transform .3s ease-in;
  -o-transition: background .3s ease-in,transform .3s ease-in,color .3s ease-in;
  transition: background .3s ease-in,transform .3s ease-in,color .3s ease-in;
  transition: background .3s ease-in,transform .3s ease-in,color .3s ease-in,-webkit-transform .3s ease-in;
}

.modal__close-line--light {
  background: #4682b4;
}

.modal__close-line:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__close-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal__slider {
  margin-bottom: 40px;
}

.modal__description {
  font: 23px "Montserrat",sans-serif;
  color: #deb887;
}

.slider__item.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.slider__item--text {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider__item:focus {
  outline: none;
}

.slider .slick-dots {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.slider .slick-dots li button {
  background: #deb887;
  font-size: 0;
  width: 9px;
  height: 11px;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background: #2b2b2b;
}

.slide__img {
  position: relative;
  background: url("../img/preloader/preload.gif") center no-repeat;
  background-size: 40px;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

.slide__picture {
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slide__text {
  font: 25px monospace,sans-serif;
  color: #fff;
  -webkit-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.slide__text--light {
  color: #2b2b2b;
}

.slide__text+.slide__text {
  margin-top: 30px;
}

.slide__link {
  text-decoration: underline;
}

.slide__link--light {
  color: #2b2b2b;
}

.slide__link--dark {
  color: #fff;
}

.slide__link:hover {
  text-decoration: none;
}

.btn {
  font: 600 1.5rem "Montserrat",sans-serif;
  background: #ff8c00;
  color: bisque;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px #ff8c00;
  box-shadow: 0 0 10px #ff8c00;
  -webkit-transition: background-color .3s ease-in,color .3s ease-in;
  -o-transition: background-color .3s ease-in,color .3s ease-in;
  transition: background-color .3s ease-in,color .3s ease-in;
}

.btn:hover {
  background: #2b2b2b;
  color: #ff8c00;
}

.footer-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-slider__btn+.footer-slider__btn {
  margin-left: 2rem;
}

.footer-slider__btn {
  -webkit-transition: background-color .3s ease-in,-webkit-box-shadow .3s ease-in;
  transition: background-color .3s ease-in,-webkit-box-shadow .3s ease-in;
  -o-transition: background-color .3s ease-in,box-shadow .3s ease-in;
  transition: background-color .3s ease-in,box-shadow .3s ease-in;
  transition: background-color .3s ease-in,box-shadow .3s ease-in,-webkit-box-shadow .3s ease-in;
}

.footer-slider__btn--light {
  background: #4682b4;
  -webkit-box-shadow: 0 0 10px #4682b4;
  box-shadow: 0 0 10px #4682b4;
}

.footer {
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer__text {
  font-size: 10px;
  margin-bottom: 25px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__copy {
  line-height: 1.4;
}

.description-list {
  list-style: disclosure-closed;
  font-size: 23px;
  color: #deb887;
}

.description-list__item+.description-list__item {
  margin-top: 20px;
}

.description-list__link {
  color: #deb887;
  text-decoration: none;
}

.description-list__link:hover {
  text-decoration: underline;
}

.description-list__item {
  font-family: "Montserrat",sans-serif;
}

.settings {
  background: #2b2b2b;
  cursor: pointer;
  border: 2px solid #fff;
  -webkit-transition: .3s ease-in background-color,.3s ease-in border;
  -o-transition: .3s ease-in background-color,.3s ease-in border;
  transition: .3s ease-in background-color,.3s ease-in border;
}

.settings__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.settings__icon {
  cursor: pointer;
  fill: #fff;
  width: 30px;
  height: 17px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .3s ease-in fill,.4s ease-in transform;
  -o-transition: .3s ease-in fill,.4s ease-in transform;
  transition: .3s ease-in fill,.4s ease-in transform;
}

.settings__icon--active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.settings__desc-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 40px;
  -webkit-transition: .3s ease-in color;
  -o-transition: .3s ease-in color;
  transition: .3s ease-in color;
}

.settings:hover .settings__icon {
  fill: #2b2b2b;
}

.settings:hover .settings__desc-text {
  color: #2b2b2b;
}

.settings:hover {
  background: #fff;
  border: 2px solid #2b2b2b;
}

.settings__popup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  min-width: 50px;
  height: calc(100% + 4px);
  background: rgba(50,21,185,.66);
  right: 0;
  top: 0;
  margin: -2px;
  -webkit-transform: translateX(0) scale(0);
  -ms-transform: translateX(0) scale(0);
  transform: translateX(0) scale(0);
  -webkit-transition: .3s ease-in transform,.3s ease-in opacity;
  -o-transition: .3s ease-in transform,.3s ease-in opacity;
  transition: .3s ease-in transform,.3s ease-in opacity;
}

.settings__popup::after {
  background: rgba(0,0,0,.4);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.settings__popup--active {
  -webkit-transform: translateX(105px) scale(1);
  -ms-transform: translateX(105px) scale(1);
  transform: translateX(105px) scale(1);
  opacity: 1;
}

.settings__popup--active-ru {
  background: no-repeat center/cover url("../img/bg/rus.png");
}

.settings__popup--active-en {
  background: no-repeat center/cover url("../img/bg/eng.png");
}

.settings__popup--active-dark {
  background: no-repeat center/cover url("../img/bg/stars-for-dark-theme.jpg");
}

.settings__popup--active-light {
  background: no-repeat center/cover url("../img/bg/sun-for-light-theme.jpg");
}

.settings__theme {
  margin-right: 13px;
  margin-top: 2px;
}

.lang__item {
  position: relative;
  z-index: 101;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  opacity: 1;
  -webkit-transition: .3s ease-in opacity,.3s ease-in color,.3s ease-in transform;
  -o-transition: .3s ease-in opacity,.3s ease-in color,.3s ease-in transform;
  transition: .3s ease-in opacity,.3s ease-in color,.3s ease-in transform;
}

.lang__item+.lang__item {
  margin-left: 5px;
}

.lang__item:hover {
  text-decoration: underline;
}

.lang__item.lang--active {
  text-decoration: underline;
}

.nav-menu__item+.nav-menu__item {
  margin-left: 20px;
}

.nav-menu__link {
  font: 600 12px "Montserrat",sans-serif;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  -webkit-transition: .3s ease-in color,.3s ease-in opacity;
  -o-transition: .3s ease-in color,.3s ease-in opacity;
  transition: .3s ease-in color,.3s ease-in opacity;
}

.nav-menu__link:hover {
  opacity: .7;
}

.menu-burger {
  background: #fff;
  display: none;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  width: 20px;
  height: 16px;
}

.menu-burger__item {
  background: #2b2b2b;
  position: relative;
  height: 3px;
  width: 100%;
}

.menu-burger__item::before {
  background: #2b2b2b;
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  height: 3px;
  width: 100%;
}

.menu-burger__item::after {
  background: #2b2b2b;
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 3px;
  width: 100%;
}

.mobile-menu {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .4s ease-in transform,.4s ease-in opacity;
  -o-transition: .4s ease-in transform,.4s ease-in opacity;
  transition: .4s ease-in transform,.4s ease-in opacity;
}

.mobile-menu--light {
  background: #fff;
  color: #2b2b2b;
}

.mobile-menu--dark {
  background: #2b2b2b;
  color: #fff;
}

.mobile-menu__item {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
}

.mobile-menu--active {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mobile-menu__link {
  padding: 5px;
  font-weight: 600;
}

.mobile-menu__link--light {
  color: #2b2b2b;
}

.mobile-menu__link--dark {
  color: #fff;
}

.socials__item {
  margin-right: 12px;
}

.socials__icon {
  width: 18px;
  height: 18px;
  fill: none;
}

.socials--vk-icon--light {
  fill: #2b2b2b;
}

.socials--vk-icon--dark {
  fill: #fff;
}

.socials--telegram-icon--light {
  fill: #2b2b2b;
}

.socials--telegram-icon--dark {
  fill: #fff;
}

.socials--git-hub-icon--light {
  fill: #2b2b2b;
}

.socials--git-hub-icon--dark {
  fill: #fff;
}

.socials__link {
  display: inline-block;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  -webkit-transition: .3s linear transform,.3s linear opacity;
  -o-transition: .3s linear transform,.3s linear opacity;
  transition: .3s linear transform,.3s linear opacity;
}

.socials__link:hover {
  opacity: .7;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__description {
  font-weight: 600;
  font-family: "Montserrat",sans-serif;
}

.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .header--light {
    background-size: 60%;
  }

  .header--dark {
    background-size: 60%;
  }

  .header__title {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .works__item {
    width: 48%;
  }

  .portfolio {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__settings {
    padding-left: 10px;
    padding-right: 15px;
  }

  .header--light {
    background-size: 100%;
  }

  .header--dark {
    background-size: 100%;
  }

  .header__title {
    font-size: 15px;
  }

  .work__title {
    font-size: 13px;
  }

  .work--announced::after {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    right: -80px;
    top: -70px;
  }

  .portfolio {
    padding-top: 35px;
    padding-bottom: 0;
  }

  .modal {
    padding: 0;
  }

  .modal__inner {
    padding: 8rem 2rem 2rem;
    border-radius: 0;
    min-height: 100vh;
  }

  .footer-slider__btn {
    display: none;
  }

  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .settings {
    display: none;
  }

  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  .works__item {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .modal__title {
    font-size: 1.5rem;
  }

  .modal__close {
    width: 20px;
    height: 20px;
  }

  .slide__text {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .works__item {
    width: 100%;
  }
}