.description-list {
    font-size: 23px;
    list-style-type: disclosure-closed;
    color: $brown-color;
    &__item + &__item {
      margin-top: 20px;
    }
    &__link {
      color: $brown-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &__item {
      font-family: 'Montserrat', sans-serif;
    }
  }