.footer-slider {
  display: flex;
  &__btn + &__btn {
    margin-left: 2rem;
  }
  &__btn {
    transition: background-color .3s ease-in, box-shadow .3s ease-in;
    @include bp-desk(mobile) {
      display: none;
    }
    &--light {
      background-color: $color-light;
      box-shadow: 0 0 10px $color-light;
    }
  }
}