.header {
  position: relative;
  background-image: url('../img/header/bg.png');
  background-position: center;
  background-repeat: repeat;
  background-color: $black;
  transition: background-color 0.5s ease-in;
  &__nav {
    padding: 16.25px;
    background-color: $black;
    border: 2px solid $white;
    position: fixed;
    z-index: 1000;
    right: 20px;
    top: 20px;
    transition: .3s ease-in background-color, .3s ease-in border;
    &:hover {
      background-color: $white;
      border: 2px solid $black;
    }
    &:hover .nav-menu__link {
      color: $black;
    }
    @include bp-desk(mobile) {
      display: none;
    }
  }
  &__nav-menu {
    display: flex;
  }
  &__settings {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 20px;
    top: 20px;
    @include bp-desk(mobile) {
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  &--light {
    background-image: url('../img/header/bg.png') $black;
    box-shadow: 0 0 20px $black;
    @include bp-desk(notebook) {
      background-size: 60%;
    }
    @include bp-desk(mobile) {
      background-size: 100%;
    }
  }
  &--dark {
    background-image: url('../img/header/bg.png')  $color-dark;
    box-shadow: 0 0 20px $white;
    @include bp-desk(notebook) {
      background-size: 60%;
    }
    @include bp-desk(mobile) {
      background-size: 100%;
    }
  }
  &__inner {
    position: relative;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: $color-grey;
    text-shadow: 0 0 10px $black;
    @include bp-desk(notebook) {
      font-size: 24px;
    }
    @include bp-desk(mobile) {
      font-size: 15px;
    }
  }
  &__menu-burger {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
  }
}
