.header {
  background-size: contain;
  transition: background-color .5s ease-in;
  &--light {
    background: $black;
    box-shadow: 0 0 20px $black;
  }
  &--dark {
    background: $color-dark;
    box-shadow: 0 0 20px $white;
  }
  &__inner {
    position: relative;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__theme {
    position: absolute;
    left: 35px;
    top: 70px;
  }
  &__title {
    color: $color-grey;
    @include bp-desk(notebook) {
      font-size: 24px;
    }
    @include bp-desk(mobile) {
      font-size: 15px;
    }
  }
}
