.lang {
  &__item {
    position: relative;
    z-index: 101;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    opacity: 1;
    transition: 0.3s ease-in opacity, 0.3s ease-in color, 0.3s ease-in transform;
    & + & {
      margin-left: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
    &.lang--active {
      text-decoration: underline;
    }
  }
}
