.nav-menu {
  &__item {
    & + & {
      margin-left: 20px;
    }
  }
  &__link {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $white;
    font-size: 12px;

    opacity: 1;
    transition: .3s ease-in color, .3s ease-in opacity;
    &:hover {
      opacity: .7;
    }
  }
}