.slider {
  &__item.slide {
    display: flex;
    min-width: 0;
  }
  &__item--text {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  &__item:focus {
    outline: none;
  }
  .slick-dots {
    display: flex;
    gap: 10px;
    li {
      button {
        font-size: 0;
        width: 9px;
        height: 11px;
        background-color: #deb887;
        border-radius: 50%;
      }
    }
  }
}
