.work {
  &__footer {
    padding: 2rem;
    padding-left: 1rem;
  }
  &__title {
    text-transform: uppercase;
    @include bp-desk(mobile) {
      font-size: 13px;
    }
  }
  &__image {
    position: relative;
    background: url("../img/preloader/preload.gif") center no-repeat;
    background-size: 40px;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    cursor: pointer;
  }
  &__picture {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 5;
    width: 100%;
    transform: translateY(-50%);
  }
  &--blocked {
    position: relative;
    background: none !important;
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: 8;
      background: rgba(0, 0, 0, 0.2) url("../img/for-projects/lock.png") center / 50px 50px no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 7;
      top: 50%;
      left: 50%;
      background: url("../img/bg/light-bg.jpg") center / cover no-repeat;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      transition: background 0.3s ease-in;
    }
  }
  &--announced,
  &--blocked {
    cursor: auto;
  }
  &--announced {
    overflow: hidden;
    position: relative;
    &::after {
      position: absolute;
      height: 250px;
      width: 250px;
      z-index: 10;
      content: "";
      filter: drop-shadow(0 0 5px rgb(22, 67, 171));
      background-repeat: no-repeat;
      transition: background-image 0.5s ease-in;
      @include bp-desk(mobile) {
        transform: scale(0.7);
      }
    }
    &::after {
      background-image: url("../img/announced/announced-dark.png");
      right: -67px;
      top: -53px;
      @include bp-desk(mobile) {
        right: -80px;
        top: -70px;
      }
    }
  }
}
